<div 
            role="alert"
            class="alert"
            [ngClass] = "{'alert-success':appareil.status,
                          'alert-danger':appareil.status ==false }"
            >
            <h4> {{appareil.name}}  </h4>
            <button *ngIf="!appareil.status"
                class="btn btn-success"
                (click) = "onSwitchOneOn(i)"
            > ON</button>
            <button  *ngIf="appareil.status"
                class="ml-2 btn btn-danger"
                (click) = "onSwitchOneOff(index)"
            > OFF</button> 
            
          </div>
